---
interface Props {
  date: string;
  category: string;
}

const { date, category } = Astro.props;

const formattedDate = new Date(date).toLocaleDateString("es-ES", {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
});

const fullDate = new Date(date).toLocaleDateString("en-US", {
  day: "2-digit",
  month: "long",
  year: "numeric",
});

const titleCaseCategory = category
  ? category
      .split("-")
      .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
      .join(" ")
  : "";
---

<div class="">
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/blog/es/">Blog</a></li>
      <li><a href={`/blog/es/${category}`}>{titleCaseCategory}</a></li>
      <li>
        <time datetime={fullDate}>{formattedDate}</time>
      </li>
    </ul>
  </nav>
</div>

<style></style>
