---
import BlinkCursor from "@/src/components/BlinkCursor.astro";
import Hero from "@/src/components/Hero.astro";
import CursoList from "@components/CursoList.astro";
import Section from "@components/Section.astro";
import Layout, { type LayoutProps } from "@layouts/Layout.astro";

const layout: LayoutProps = {
  title: "Cursos de Programación con IA | AICode Academy",
  description:
    "Cursos especializados en programación con Inteligencia Artificial. Aprende metodologías, herramientas y procedimientos para mejorar tu productividad y calidad de código.",
  hero: {
    title: "AI Code Courses",
    subtitle:
      "Aprende metodologías, herramientas y procedimientos para programar mejor con Inteligencia Artificial.",
    cta: {
      link: "",
      text: "Learn to code smarter",
    },
  },
};

const cta = {
  title: "¿Quieres organizar un curso en tu empresa/academia?",
  subtitle: "Puedo ajustar el temario y herramientas a tus necesidades",
  cta: {
    text: "Contacta con Alberto Basalo",
    link: "https://www.linkedin.com/in/albertobasalo/",
  },
};
---

<Layout layout={layout}>
  <Hero hero={layout.hero} />
  <main>
    <CursoList />
  </main>
  <footer>
    <Section section={cta} />
  </footer>
  <aside class="container">
    <header class="colored-headers">
      <h1>Programación Inteligente</h1>
      <p>Versión Video</p>
      <h3>Curso de desarrollo profesional con I.A.</h3>
    </header>
    <main>
      <p>
        Metodología AI-Driven Development dominar las nuevas primitivas de
        programación con IA:
        <code>specs, skills, prompts, context, agents y MCPs.</code>
      </p>
      <p>
        <cite>
          Más allá del Vibe Coding, crea software mantenible aplicando
          herramientas IA a todo el ciclo de desarrollo.
        </cite>
      </p>
      <p>
        Aprovecha las ofertas de lanzamiento. <BlinkCursor />
      </p>
    </main>
    <footer>
      <section>
        <a
          role="button"
          class="outline"
          href="https://www.udemy.com/course/programacion-inteligente-desarrollo-profesional-con-ia/"
          target="_blank"
          rel="noopener">Edición lite en Udemy</a
        >
      </section>
      <section>
        <a
          role="button"
          class="outline"
          href="https://www.trainingit.es/producto/programacion-inteligente-ia/"
          target="_blank"
          rel="noopener">Edición empresarial en TrainingIT</a
        >
      </section>
    </footer>
  </aside>
</Layout>
