---
import Hero from "@/src/components/Hero.astro";
import Promo from "@/src/components/Promo.astro";
import CursoList from "@components/CursoList.astro";
import Section from "@components/Section.astro";
import Layout, { type LayoutProps } from "@layouts/Layout.astro";

const layout: LayoutProps = {
  title: "Cursos de Programación con IA | AICode Academy",
  description:
    "Cursos especializados en programación con Inteligencia Artificial. Aprende metodologías, herramientas y procedimientos para mejorar tu productividad y calidad de código.",
  hero: {
    title: "Cursos de IA",
    subtitle:
      "Aprende metodologías, herramientas y procedimientos para programar mejor con Inteligencia Artificial.",
    cta: {
      link: "",
      text: "Learn to code smarter",
    },
  },
};

const cta = {
  title: "¿Quieres organizar un curso en tu empresa/academia?",
  subtitle: "Puedo ajustar el temario y herramientas a tus necesidades",
  cta: {
    text: "Contacta con Alberto Basalo",
    link: "https://www.linkedin.com/in/albertobasalo/",
  },
};
---

<Layout layout={layout}>
  <Hero hero={layout.hero} />
  
  <aside class="center">
      <h2>Spec-Driven Development</h2>
      <a
        role="button"
        class="outline"
        href="https://www.udemy.com/course/spec-driven-development-inteligente/?referralCode=D67B0EB2BD294D29A5B7"
        target="_blank"
        rel="noopener">Novedad en Udemy</a
      >
      <hr/>
  </aside>

  <main>
    <CursoList />
  </main>
  <footer>
    <Section section={cta} />
  </footer>
  <Promo />
</Layout>
