---
import Hero from "@/src/components/Hero.astro";
import CursoList from "@components/CursoList.astro";
import Section from "@components/Section.astro";
import Layout, { type LayoutProps } from "@layouts/Layout.astro";

const layout: LayoutProps = {
  title: "Cursos de Programación con IA | AICode Academy",
  description:
    "Cursos especializados en programación con Inteligencia Artificial. Aprende metodologías, herramientas y procedimientos para mejorar tu productividad y calidad de código.",
  hero: {
    title: "Ai courses",
    subtitle:
      "Aprende metodologías, herramientas y procedimientos para programar mejor con Inteligencia Artificial.",
    cta: {
      link: "",
      text: "Learn to code smarter",
    },
  },
};

const cta = {
  title: "¿Quieres organizar un curso en tu empresa/academia?",
  subtitle: "Puedo ajustar el temario y herramientas a tus necesidades",
  cta: {
    text: "Contacta con Alberto Basalo",
    link: "https://www.linkedin.com/in/albertobasalo/",
  },
};
---

<Layout layout={layout}>
  <Hero hero={layout.hero} />
  <main>
    <CursoList />
  </main>
  <footer>
    <Section section={cta} />
  </footer>
</Layout>
