:root {
  --light-green: #00ff00;
  --dark-green: #00aa00;
  --light-blue: #00ccff;
  --dark-blue: #007fff;
}

/* dark theme */
[data-theme="dark"] {
  --pico-color: white;
  --pico-background-color: black;
  --pico-primary: var(--light-green);
  --pico-primary-hover: var(--dark-green);
  --pico-primary-background: var(--light-green);
  --pico-primary-hover-background: var(--dark-green);
  --pico-primary-inverse: black;
  --pico-underline: var(--light-green);
  --pico-primary-underline: var(--light-green);
  --pico-secondary: var(--light-blue);
  --pico-secondary-hover: var(--dark-blue);
  --pico-secondary-background: var(--light-blue);
  --pico-secondary-hover-background: var(--dark-blue);
  color-scheme: dark;
}

/* light theme */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-color: black;
  --pico-background-color: white;
  --pico-primary: var(--dark-green);
  --pico-primary-hover: var(--light-green);
  --pico-primary-background: var(--dark-green);
  --pico-primary-hover-background: var(--light-green);
  --pico-primary-inverse: white;
  --pico-underline: var(--dark-green);
  --pico-primary-underline: var(--dark-green);
  --pico-secondary: var(--dark-blue);
  --pico-secondary-hover: var(--light-blue);
  --pico-secondary-background: var(--dark-blue);
  --pico-secondary-hover-background: var(--light-blue);
  color-scheme: light;
}

:root {
  background-color: var(--pico-background-color);
}

strong {
  color: var(--pico-secondary);
}

em {
  color: var(--pico-secondary-hover);
}

code {
  color: var(--pico-secondary);
}
