 .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .primary {
    color: var(--pico-primary);
  }

  .comment {
    color: var(--pico-secondary);
    padding-right: 1rem;
  }

  .logo {
    font-family: 'Major Mono Display', monospace;
  }


