/* Modern CSS Reset and Global Styles */


:root {
  --pico-font-family: 'Fira Mono', Consolas,  monospace;
  --pico-font-family-emoji: 'Major Mono Display', Consolas, monospace;
  --pico-font-family-sans-serif: Tomorrow, Roboto, Helvetica, Arial, sans-serif;
  --pico-font-family-monospace:'Fira Mono', Consolas,  monospace;
  --pico-border-radius: 0rem;
}



body {
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;  
  padding-bottom: 1rem;
  font-family: var(--pico-font-family);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--pico-font-family-sans-serif);
}

