---
import CtaSection from './CtaSection.astro';
import ValueProposition from './ValueProposition.astro';

---

<section class="marketing">
  <div class="container">
    <ValueProposition />
    <CtaSection /> 
  </div>

<!--     
    <Stats />
    <Testimonials />
    -->


  </div>
</section>

<style>
  .marketing {
    padding: 4rem 0;
    background-color: rgba(71, 212, 105, 0.05);
  }

 

  @media (max-width: 768px) {
    .marketing {
      padding: 2rem 0;
    }
  }
</style>