---
const navItems = [
  { href: '/blog', text: 'Blog' },
  { href: '/cursos', text: 'Cursos' },
];
---

<nav>
  <ul>
    <li><strong><a href="/">AI Code Academy</a></strong></li>
  </ul>
  <ul>
    {navItems.map(item => (
        <li>
          <a href={item.href}>{item.text}</a>
        </li>
      ))}
  </ul>
</nav>


<style>
  nav {
    padding-right: 2rem;
  }
</style>


