---
import BlogList from "../../../components/BlogList.astro";
import Layout, { type LayoutProps } from "../../../layouts/Layout.astro";

const layout: LayoutProps = {
  title: "Herramientas IA para desarrolladores",
  description: "Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder."
};  
---

<Layout
  layout={layout}>
  <main>
    <header>
      <h1>Herramientas</h1>
      <p>Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder.</p>
    </header>
    <BlogList category="herramientas" />
  </main>
</Layout>
