---
import { getCollection } from "astro:content";
import BlogArticle from "./BlogArticle.astro";

import Layout from "../../../layouts/Layout.astro";

const posts = await getCollection("blog");
const filteredPosts = posts.filter((post) => post.data.category === "herramientas");
const sortedPosts = filteredPosts.sort((a, b) => {
  const dateA = new Date(a.data.date ?? "0");
  const dateB = new Date(b.data.date ?? "0");
  return dateB.getTime() - dateA.getTime(); // Reverse order, newest first
});
---

<Layout
  title="Herramientas IA para desarrolladores"
  description="Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder.">
  <main>
    <h1>Herramientas</h1>
    <p>Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder.</p>
    <p>
      <a href="/blog/es/"><b>Todos los artículos</b></a>
    </p>
    <div>
      {
        sortedPosts.map((post) => (
          <BlogArticle post={post} />
        ))
      }
    </div>
  </main>
</Layout>
