---
import BlogList from "../../../components/BlogList.astro";
import Layout, { type LayoutProps } from "../../../layouts/Layout.astro";

const layout: LayoutProps = {
  title: "Herramientas IA para desarrolladores",
  description: "Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder."
};  
---

<Layout
  layout={layout}>
  <main>
    <h1>Herramientas</h1>
    <p>Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder.</p>
    <p>
      <a href="/blog/es/"><b>Todos los artículos</b></a>
    </p>
    <BlogList category="herramientas" />
  </main>
</Layout>
