---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

const posts = await getCollection("blog");
const filteredPosts = posts.filter((post) => post.data.category === "herramientas");
const sortedPosts = filteredPosts.sort((a, b) => {
  const dateA = new Date(a.data.date ?? "0");
  const dateB = new Date(b.data.date ?? "0");
  return dateB.getTime() - dateA.getTime(); // Reverse order, newest first
});
---

<Layout
  title="Herramientas IA para desarrolladores"
  description="Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder.">
  <main>
    <h1>Herramientas</h1>
    <p>Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder.</p>
    <p>
      <a href="/blog/es/">Todos los artículos</a>
    </p>
    <div>
      {
        sortedPosts.map((post) => (
          <article>
            <header>
              <h3>
                <a
                  href={`/blog/es/${post.data.slug}`}
                  >
                  {post.data.title}
                </a>
              </h3>
              <p>{post.data.subtitle}</p>
            </header>
            <p>{post.data.description}</p>
          </article>
        ))
      }
    </div>
  </main>
</Layout>
