---
import Layout from "../../../layouts/Layout.astro";
import BlogList from "./BlogList.astro";
---

<Layout
  title="Herramientas IA para desarrolladores"
  description="Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder.">
  <main>
    <h1>Herramientas</h1>
    <p>Editores, extensiones, asistentes y modelos que te ayudarán a programar mejor: code smarter, not harder.</p>
    <p>
      <a href="/blog/es/"><b>Todos los artículos</b></a>
    </p>
    <BlogList category="herramientas" />
  </main>
</Layout>
