---
import Hero from "@/src/components/Hero.astro";
import BlogList from "@components/BlogList.astro";
import Layout from "@layouts/Layout.astro";

const BLOG = {
  layout: {
    title: "Blog - AI-Driven Development en español.",
    description: "Artículos sobre programación con Inteligencia Artificial",
  },
  hero: {
    title: "AI Code Blog",
    subtitle:
      "Metodologías, herramientas y procedimientos para programar mejor con IA. ",
    cards: [],
    cta: {
      text: "Learn to code smarter",
      link: "",
    },
  },
};
---

<Layout layout={BLOG.layout}>
  <Hero hero={BLOG.hero} />
  <main>
    <BlogList />
  </main>
</Layout>
