---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import BlogArticle from "./BlogArticle.astro";

const posts = await getCollection("blog");
const sortedPosts = posts.sort((a, b) => {
  const dateA = new Date(a.data.date ?? "0");
  const dateB = new Date(b.data.date ?? "0");
  return dateB.getTime() - dateA.getTime(); // Reverse order, newest first
});
---

<Layout
  title="Blog - AICode Academy"
  description="Artículos sobre programación con Inteligencia Artificial">
  <main>
    <h1>Blog en español</h1>
    <p>
      Artículos sobre metodologías, herramientas y procedimientos para programar mejor con IA. AI-Driven Development en español.
    </p>
    <nav aria-label="Categorías">
      <ul>
        <li><a href="/blog/es/herramientas"><b>Herramientas</b></a></li>
        <li><a href="/blog/es/procedimientos"><b>Procedimientos</b></a></li>
      </ul>
    </nav>
    <main>
      {
        sortedPosts.map((post) => (
          <BlogArticle post={post} />
        ))
      }
    </main>
  </main>
</Layout>
