---
import BlogList from "@components/BlogList.astro";
import Layout, { type LayoutProps } from "@layouts/Layout.astro";

const layout: LayoutProps = {
  title: "Blog - AICode Academy",
  description: "Artículos sobre programación con Inteligencia Artificial"
};


---
<Layout
  layout={layout}>
  <main>
    <h1>Blog en español</h1>
    <p>
      Artículos sobre metodologías, herramientas y procedimientos para programar mejor con IA. AI-Driven Development en español.
    </p>
    <nav aria-label="Categorías">
      <ul>
        <li><a href="/blog/es/herramientas" role="button" class="outline">Herramientas</a></li>
        <li><a href="/blog/es/procedimientos" role="button" class="outline">Procedimientos</a></li>
      </ul>
    </nav>
    <BlogList />
  </main>
</Layout>
