---
import BlogList from "@components/BlogList.astro";
import Layout, { type LayoutProps } from "@layouts/Layout.astro";

const layout: LayoutProps = {
  title: "Procedimientos IA para desarrolladores",
  description: "Indicaciones, reglas y plantillas para que tu colega de IA te ayude a codificar de forma más inteligente, no más difícil."
};  
---

<Layout
  layout={layout}>
  <section>
    <header>    
      <h1>Procedimientos</h1>
      <p>
        Indicaciones, reglas y plantillas para que tu colega de IA te ayude a codificar de forma más inteligente, no más
        difícil.
      </p>
    </header>
    <main>
      <BlogList category="procedimientos" />
    </main>
  </section>
</Layout>
