---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import BlogArticle from "./BlogArticle.astro";

const posts = await getCollection("blog");
const filteredPosts = posts.filter((post) => post.data.category === "procedimientos");
const sortedPosts = filteredPosts.sort((a, b) => {
  const dateA = new Date(a.data.date ?? "0");
  const dateB = new Date(b.data.date ?? "0");
  return dateB.getTime() - dateA.getTime(); // Reverse order, newest first
});
---

<Layout
  title="Procedimientos IA para desarrolladores"
  description="Indicaciones, reglas y plantillas para que tu colega de IA te ayude a codificar de forma más inteligente, no más difícil.">
  <main>
    <h1>Procedimientos</h1>
    <p>
      Indicaciones, reglas y plantillas para que tu colega de IA te ayude a codificar de forma más inteligente, no más
      difícil.
    </p>
    <p>
      <a href="/blog/es/"><b>Todos los artículos</b></a>
    </p>
    <div>
      {
        sortedPosts.map((post) => (
          <BlogArticle post={post} />
        ))
      }
    </div>
  </main>
</Layout>
