---
import Hero from "@/src/components/Hero.astro";
import BlogList from "@components/BlogList.astro";
import Layout from "@layouts/Layout.astro";

const BLOG = {
  layout: {
    title: "Procedimientos IA para desarrolladores",
    description: "Indicaciones, reglas y plantillas para que tu colega de IA te ayude a codificar. code smarter, not harder."
  },
  hero: {
    title: "Procedimientos",
    subtitle: "Indicaciones, reglas y plantillas para programar mejor con IA.",
    cards: [],
    cta: {
      text: "code smarter, not harder",
      link: "",
    },  
  }
}
---

<Layout
  layout={BLOG.layout}>
  <Hero hero={BLOG.hero} />
  <main>
    <BlogList category="procedimientos" />
  </main>
</Layout>
