---
const currentYear = new Date().getFullYear();
---

<footer class="container">
  <main class="grid">
    <div >
      <h3 class="logo">Ai code Academy</h3>
      <p>Learn to Code Smarter.</p>
    </div>
    <div >
      <h3>Connect</h3>
      <ul>
        <li><a href="https://aiddbot.com" target="_blank"><b>AIDDbot </b></a></li>
        <li><a href="https://github.com/AlbertoBasalo" target="_blank">GitHub</a></li>
        <li><a href="https://twitter.com/AlbertoBasalo" target="_blank">Twitter</a></li>
        <li><a href="https://linkedin.com/in/albertobasalo" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
    <div >
      <h3>Legal</h3>
      <ul>
        <li><a href="https://albertobasalo.dev/#contact" target="_blank"><b>Contact</b></a></li>
        <li><a href="/legal/privacy/">Privacy Policy</a></li>
        <li><a href="/legal/terms/">Terms of Service</a></li>
        <li><a href="/legal/cookies/">Cookie Policy</a></li>
      </ul>
    </div>
  </main>
  <div>
   <p>&copy; {currentYear} AI Code Academy. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid var(--pico-primary);
    margin-top: 1rem;
  }
</style>
