---

import '@picocss/pico';

import '../styles/colors.css';
import '../styles/custom.css';
import '../styles/global.css';

import CookieConsent from './CookieConsent.astro';
import Footer from './Footer.astro';
import HeadC from './HeadC.astro';
import Header from './Header.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

---

<!DOCTYPE html>
<html lang="es" data-theme="dark">
  <HeadC title={title} description={description} />
  <body>
    <Header  />
    <main>
      <slot />
    </main>
    <Footer />
    <CookieConsent />
  </body>
</html>